.page-header{
  padding: 0 10vw;
  margin-bottom: 10px;
}

.info-wrap{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  margin: 0 10vw;
}

.card-title{
  margin-bottom: 10px;
}

.card-table-cell{
  margin-bottom: 10px;
}

.submit-btn-contents{
  width: 50%;
  margin: 20px auto;
}

.submit-btn{
  margin: 0 auto;
}

.drop-shadow{
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.nav-items{
  height: 100%;
  display: flex;
  display: none;
  flex-wrap: wrap;
}